.calculator{
    background-color: hsl(0, 0%, 15%);
    max-width: 400px;
    overflow: hidden;
    border-radius: 9px;
    margin-left: 30px;
}
#input_label{
    width: 400px;
    height: 100px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    font-size: 3rem;
    color: white;

}
#btns{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    cursor: pointer;
    font-size: 2.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;


}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
}
.operator{
    background-color: hsl(39, 100%, 50%);
}
.operator:hover{
    background-color: hsl(39, 100%, 65%);
}
.operator:active{
    background-color: hsl(39, 100%, 75%);
}